<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ログイン - Keypod</title>
	<link rel="stylesheet" href="/assets/css/login.css">
	<link rel="shortcut icon" href="/assets/images/favicon.ico">
</head>
<body>

	<div class="form">

		<div class="logo">
			<a href="/"><img src="/assets/images/logo_accent.svg" alt="logo"></a>
			<h1>ログイン</h1>
		</div>

			<% if session[:signin_error] %>
				<div class="error">
					<h4><%= session[:signin_error] %></h4>
				</div>
				<% session[:signin_error] = nil %>
			<% end %>

		<form action="/login" method="post">
			<div class="text-input">
				<label for="mail">メールアドレス</label>
				<input type="text" name="mail" id="mail" placeholder="keypod@example.com" />
				<span class="separator"> </span>
			</div>

			<div class="text-input">
				<label for="password">パスワード</label>
				<input type="password" name="password" id="password" placeholder="7文字以上の文字列" />
				<span class="separator"> </span>
			</div>

			<div class="form-bottom">
				<input type="submit" id="submit" value="Submit"  />
				<a href="/signup">アカウントを持っていませんか?<br>サインアップする</a>
			</div>

		</form>
	</div>

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-84261059-12"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-84261059-12');
	</script>
</body>
</html>
