<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>サインアップ - Keypod</title>
</head>
<body>

	<% if session[:signup_error] %>
		<div class="error">
			<h3>エラー項目があります</h3>
			<p><%= session[:signup_error] %></p>
		</div>
		<% session[:signup_error] = nil %>
	<% end %>
	<form action="/signup" method="post">
		<input type="text" name="name" placeholder="User Name">
		<input type="text" name="mail" placeholder="Mail Address">
		<input type="password" name="password" placeholder="Password">
		<input type="password" name="password_confirmation" placeholder="Re Type Password">
		<input type="submit" value="Create Account">
	</form>

</body>
</html>
