<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>サインアップ - Keypod</title>
	<meta name="description" content="Keypodは一言で言うと、Web上でLaunchpadのような体験ができるアプリです。LaunchpadとはNovation社が開発した楽器で、8x8のキーがついています。自分の好きなタイミングでのクリップの再生、ドラムラックの演奏、メロディーの作成といった操作などを行うことができるため、DJや劇の効果音再生などに用いられています。しかしLaunchpadは値段が高く、またプロ用の機材やソフトウェアの導入が必要不可欠です。だから身近にあるキーボードのキーをLaunchpadのキーに見立てて、Web上でいつでもどこでも演奏できるようなアプリを開発しました。それが、今あなたのみているサイト「Keypod」です。">
	<meta property="og:url" content="https://keypod.net/signup">
	<meta property="og:title" content="サインアップ - Keypod">
	<meta property="og:type" content="website">
	<meta property="og:description" content="Keypodは一言で言うと、Web上でLaunchpadのような体験ができるアプリです。LaunchpadとはNovation社が開発した楽器で、8x8のキーがついています。自分の好きなタイミングでのクリップの再生、ドラムラックの演奏、メロディーの作成といった操作などを行うことができるため、DJや劇の効果音再生などに用いられています。しかしLaunchpadは値段が高く、またプロ用の機材やソフトウェアの導入が必要不可欠です。だから身近にあるキーボードのキーをLaunchpadのキーに見立てて、Web上でいつでもどこでも演奏できるようなアプリを開発しました。それが、今あなたのみているサイト「Keypod」です。">
	<meta property="og:site_name" content="Keypod">
	<meta property="og:image" content="/assets/images/ogp.png">
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:image" content="/assets/images/ogp.png">
	<meta name="twitter:site" content="@i5so_">
	<link rel="stylesheet" href="/assets/css/login.css">
	<link rel="shortcut icon" href="/assets/images/favicon.ico">
</head>
<body>

	<div class="form">

		<div class="logo">
			<a href="/"><img src="/assets/images/logo_accent.svg" alt="logo"></a>
			<h1>サインアップ</h1>
		</div>

		<% if session[:signup_error] %>
			<div class="error">
				<h4><%= session[:signup_error] %></h4>
			</div>
			<% session[:signup_error] = nil %>
		<% end %>

		<form action="/signup" method="post">

			<div class="text-input">
				<label for="name">ユーザー名</label>
				<input type="text" name="name" id="name" placeholder="7文字以上の英数字" />
				<span class="separator"> </span>
			</div>

			<div class="text-input">
				<label for="mail">メールアドレス</label>
				<input type="text" name="mail" id="mail" placeholder="keypod@example.com" />
				<span class="separator"> </span>
			</div>

			<div class="text-input">
				<label for="password">パスワード</label>
				<input type="password" name="password" id="password" placeholder="7文字以上の文字列" />
				<span class="separator"> </span>
			</div>

			<div class="text-input">
				<label for="password_confirmation">パスワードの確認</label>
				<input type="password" name="password_confirmation" id="password_confirmation" placeholder="上と同じ文字列を入力" />
				<span class="separator"> </span>
			</div>

			<div class="form-bottom">
				<input type="submit" id="submit" value="Submit"  />
				<a href="/login">アカウントを持っていますか?<br>ログインする</a>
			</div>

		</form>
	</div>

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-84261059-12"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-84261059-12');
	</script>
</body>
</html>
