<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ワークスペースを作成 - Keypod</title>
	<link rel="stylesheet" href="/assets/css/workspace_create.css">
	<link rel="shortcut icon" href="/assets/images/favicon.ico">
</head>
<body>

	<div class="form">

		<div class="logo">
			<a href="/"><img src="/assets/images/logo_accent.svg" alt="logo"></a>
			<h1>ワークスペースを作成</h1>
		</div>

		<form action="/workspace/create" method="post">
			<div class="text-input">
				<label for="name">ワークスペース名</label>
				<input type="text" name="name" placeholder="名称未設定" />
				<span class="separator"> </span>
			</div>

			<div class="text-input">
				<label for="description">説明</label>
				<textarea name="description" placeholder="最高のセッションをするためのワークスペースです!"></textarea>
				<span class="separator"> </span>
			</div>

			<div class="form-bottom">
				<input type="submit" id="submit" value="Create"  />
				<a href="/">戻る</a>
			</div>

		</form>
	</div>

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-84261059-12"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-84261059-12');
	</script>
</body>
</html>
