<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ワークスペースを作成 - Keypod</title>
</head>
<body>

	<form action="/workspace/create" method="post">
		<input type="text" name="name" placeholder="ワークスペースのタイトル">
		<input type="text" name="description" placeholder="説明">
		<input type="submit" value="ログイン">
	</form>

</body>
</html>
